
h1 {text-align: center;}

#container
{
margi-right:auto;
   text-align: justify;
width:900;
}

#logo
{
	width: 1500px;
	height: 120px;
	border-bottom: 20px solid Gray;
}

#leftNav
{
  float: left;
  width: 170px;
  height:1000px;
  background-image: url(images/sideBar.png);
}

#Hlinks
{
  float:right;
  height: 400px;
}


.links 
{
 	position:absolute; left: 0px; top:200;
 	text-decoration: none; 	
}

ul {list-style-type:none; }

.links a
{
 	color:white;
 	text-decoration: underline;
 
}

#body
{
width : 620px;
font: sans-serif; margin: 100 300 100 300}
}

#footer
{
  border-top: 20px solid Gray;
 
}
form
{
margin: 30px;
}