
#darkgray
    {
    width:  100%;
    height: 50px;
    background-image: url(images/up1.png);
    }
    
#logo
	{
	width:  100%;
        height: 90px;
        background-image: url(images/up2.png);
	} 
	  
#lightgray
	{
	width:  100%;
        height: 25px;
        background-image: url(images/lightgray.png);
	} 
		  
 #links		 
   {
    width:  15%;
    height: 800px;
    background-image: url(images/sideBar.png);
    float:left; 
    }
    


ul   
  {
     list-style-type:none;    
      margin:50 0 0 0;
 }

li a
{
      color:white;
      text-decoration: underline; 
}

#content
 {
       width:85%;
       height:500px;
       float:left;
 } 

 #body
  {
     width : 500px;
     font-family: helvetica neue;
     margin: 50 0 10 150
  }

#video 
  {
    margin: 40 0 0 250; 
    width:500;
    height:300;
  }

#first
 {
     color: #7C1C05; 
     text-align:center;
     margin-top: 50px;
 }
 
#second
 {
    font-color:#6C3082;
    margin: 60 0 0 50;  
 } 
 
 #main
 {
  	color: black;
 	margin: 50 100 0 100; 
 	font-family: helvetica neue;
 	text-align:center;
 }
 

 h1 
 {   
     text-align: center;  	
     color: #7C1C05;/*red*/ 
     font-family: helvetica neue;
     font-size:40px;
     margin:70 0 0 0;
  }

h2{  color:#6C3082; font-family: helvetica neue;}/*purple*/
h3{  color: #7C1C05; font-family: helvetica neue;}/*red*/
legend{ color: #7C1C05;}/*red*/


#major{text-align:center;}

#text
{
        color: black;
 	margin: 50 50 0 250; 
 	font-family: helvetica neue;
        font-size:17px;
}


 p:first-letter
 { 
  font-size:150%;
  color:#6C3082;
 }
 

 address 
 {
  list-style-type:none;
  margin:100 0 0 550;
  }
  
  address a{ clear:botrh; color:white;}
  
#footer   
   {
   clear:both;
   width:100%;
   height:230px;
   background-image: url(images/footerc.png);   
   }
